<!-- _includes/head-meta.html -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.title }}</title>
<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | strip_newlines | truncate: 160 }}">

<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
<link rel="icon" href="{{ site.baseurl }}/assets/img/favicon.png" type="image/png">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">

{% seo %}
